{% extends 'base.html' %}

{% block content%}

  <h1>목차</h1>
  <br><a href="{% url 'new' %}"><button>일기쓰기</button></a>
  <br><br>
  <div>
    {% for blog in blogs %}
    <h6>{{blog.pub_date}}</h6>
    <h3><a href="{% url 'detail' blog.id %}">{{blog.title}}</a></h3>
    <br><br>
    {% endfor %}
  </div>

  {% if blogs.has_previous %}
    <a href="?page=1">처음</a>
    <a href="?page={{blogs.previous_page_number}}">이전</a>
  {% endif %}

  <span>{{blogs.number}}</span>
  <span>of</span>
  <span>{{blogs.paginator.num_pages}}</span>

  {% if blogs.has_next %}
    <a href="?page={{blogs.next_page_number}}">다음</a>
    <a href="?page={{blogs.paginator.num_pages}}">마지막</a>
  {% endif %}
  <br><br><br><br><br>
  <div>
    <a href="{% url 'home' %}"><button>메인으로 돌아가기</button></a>
  </div>

{% endblock %}