{% extends 'base.html' %}

{% block content%}

  <h2>{{blog.title}}</h2>
  <h6>{{blog.pub_date}}</h6>

  {% if blog.img %}
    <p><img src="{{blog.img.url}}" alt="" width="500"></p>
  {% endif %}

  <h4>{{blog.body}}</h4> <br><br>
  <div>
    <a href="{% url 'edit' blog.id %}"><button>수정하기</button></a>
    <a href="{% url 'delete' blog.id %}"><button>삭제하기</button></a>
    <br><br><br>
    <div>
      <a href="{% url 'contents' %}"><button>목차로 돌아가기</button></a>
    </div>
  </div>
  
{% endblock %}