{% extends 'base.html' %}

{% block content%}

  <h1>일기 수정하기</h1><br><br>
  <form action="{% url 'update' blog.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목: <input type="text" name = "title" value="{{blog.title}}"></p>
    <p>본문: <textarea name="body" id="" cols="60" rows="15">{{blog.body}}</textarea>
    <input type="submit"></p>
  </form>
  <div><br><br><br>
    <a href="{% url 'contents' %}"><button>목차로 돌아가기</button></a>
  </div>  

{% endblock %}